@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #07090E;
    color: #F8FAFC;
    font-family: 'Plus Jakarta Sans', system-ui, sans-serif;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0B0E17;
}

::-webkit-scrollbar-thumb {
  background: #1C253B;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2A3654;
}
